<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/Css/custom.css">

    <title>HigherOrLower</title>
  </head>
  <body>
  
  
  <a th:href="@{/game/quitGame}" type="button" class="btn btn-outline-success mt-3">QuitGame</a>
  
<div class="d-flex justify-content-center">
  <img src="../Images/logo225.png" class="img-fluid" alt="Responsive image">
 </div>
  
  <div class="container">
  <span th:if="${game.GameFinished == false}">
   <div class="d-flex justify-content-center">
  <form method="post" th:action="@{/game/lower}" >
  <button  class="btn btn-success mx-4 mt-5">lower</button>
 
  </form>
 
  <h1 class="mt-5"> <span th:text="${game.number}" style="color: white" ></span></h1>
  
  
  <form method="post" th:action="@{/game/higher}" >
  <button class="btn btn-danger mx-4 mt-5">Higher</button>
  </form>
  
  </span>
  
   </div>
   <div class="d-flex justify-content-center mt-5">
  <span th:if="${game.GameFinished == true}"> <h1 style="color:white;">you lose, number is:</h1> <h1 class="d-flex justify-content-center pl-5 ml-5" th:text="${game.number}" style="color:white; width:200px;"></h1></span>
  </div>
  </div>
 

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>